<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd  
            http://www.springframework.org/schema/mvc  
            http://www.springframework.org/schema/mvc/spring-mvc.xsd 
            http://www.springframework.org/schema/util  
            http://www.springframework.org/schema/util/spring-util.xsd
             http://www.springframework.org/schema/tx  
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop.xsd">

   
  	<!-- 管理所有service类的对象 -->
  	<context:component-scan base-package="com.model.service" />
  	
  	<!-- 配置事务处理，使用spring自带的通知和切入 -->
  	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  		<!-- 配置文件都是通的 -->
  		<property name="dataSource" ref="dataSource" />
  	</bean>
  	
  	<!-- 通知 -->
	<tx:advice id="txAdvice"  transaction-manager="transactionManager">
   		<tx:attributes>
   			<tx:method name="save*"    propagation="REQUIRED"  />
   			<tx:method name="update*"    propagation="REQUIRED"  />
   			<tx:method name="insert*"    propagation="REQUIRED"  />
   			<tx:method name="delete*"    propagation="REQUIRED" />
   			<tx:method name="select*"  propagation="SUPPORTS"   read-only="true"/>
   			<tx:method name="find*"  propagation="SUPPORTS"  read-only="true"/>
   			<tx:method name="get*"  propagation="SUPPORTS"   read-only="true"/>
   		</tx:attributes>
   	</tx:advice>
   	
   	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.model.service.*.*(..))"/>
	</aop:config>

	
	  	
</beans>




















